{% extends "base.html.twig" %}

{% block title %}Créer un nouveau jeu{% endblock %}

{% block body %}
    <div class="title-container">
        <img src="{{ asset('images/title_decorator_left.svg') }}" alt="title decorator">
        <h1>Créer un escape game</h1>
        <img src="{{ asset('images/title_decorator_right.svg') }}" alt="title decorator">
    </div>
    
    {{ form(form) }}

{% endblock %}