<h1>Hey! Confirme ton email pour ton nouveau compte TB Games</h1>

<p>
    Confirme ton email en cliquant sur le lien ci-dessous: <br><br>
    <a href="{{ signedUrl|raw }}">Confirmer mon mail</a>.
    Ce lien expire dans {{ expiresAtMessageKey|trans(expiresAtMessageData, 'VerifyEmailBundle') }}.
</p>

<p>
    Merci et à bientôt sur TB Games !
</p>
