<footer>
    <nav class="footer_nav">
        <ul class="footer_links">
            <li><a href="#">Conditions d'utilisation</a></li>
            <li><a href="#">A propos de nous</a></li>
            <li><a href="#">Mentions légales</a></li>
            <li><a href="#">Plan du site</a></li>
        </ul>
        <ul class="socials_links">
            <li><a href="#"><img src="{{ asset('images/icon-instagram.png')}}" alt="Icône Instagram"></a></li>
            <li><a href="#"><img src="{{ asset('images/icon-facebook.png')}}" alt="Icône Facebook"></a></li>
            <li><a href="#"><img src="{{ asset('images/icon-x.png')}}" alt="Icône Twitter"></a></li>
        </ul>
    </nav>
</footer>