{% block card %}
    <article class="game_card">
        <img src="{{ asset('images/maya_temple.jpg') }}" alt="Illustration d'un temple Maya" class="game_picture">
        <div class="top_section">
            <div class="title_rating">
                <h3>Le mystérieux temple Maya</h3>
                <div>
                    XXXXX
                </div>
            </div>
            <div class="max_time">
                <img src="{{ asset('images/clock_icon.svg') }}" alt="Icône de montre">
                <p>40 min</p>
            </div>
        </div>
        <div class="game_description">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean at elementum leo, a pretium dui. Nullam nec ullamcorper erat. Duis eu hendrerit est. Morbi id nulla lacinia
        </div>
    </article>
{% endblock %}