<header>
    <a href="{{ path('home.index') }}">
        <img src="{{ asset('images/TB_Games_logo.svg')}}" alt="test">
    </a>
    <nav>
        <ul class="nav_pages_links">
            <li><a href="#">Demo</a></li>
            <li><a href="#">Nos services</a></li>
            <li><a href="#">Contact</a></li>
        </ul>
        <ul class="nav_connection_links">
            <li><a href="#">Se connecter</a></li>
            <li class="highlighted-button"><a href="#">S'inscrire</a></li>
        </ul>
    </nav>
</header>