<div id="modal" class="modal">
    <div class="modal_content">
        <div class="modal_header">
            <button type="button" class="close_modal_btn" data-dismiss="modal" aria-label="close">
            <span aria-hidden="true">&times;</span>
        </button>
        </div>
        <div class="modal_body">
            <img src="" alt="" class="modal_picture">
            <div class="modal_content_text">
                <h3 class="modal_title"></h3>
                <p class="modal_description"></p>
                <div class="modal_difficulty"></div>
                <div class="modal_time">
                    <img src="{{ asset('images/clock_icon.svg') }}" alt="Icône d'horloge" class="time_clock">
                    <span class="time_text"></span>
                </div>
                <a class="start_button">Lancer la partie</a>
            </div>
                
        </div>
        
    </div>
</div>