<div id="modal" class="modal">
	<div class="modal-content">
		<div class="modal-header">
			<button type="button" class="close-modal-btn" data-dismiss="modal" aria-label="close">
				<span aria-hidden="true">&times;</span>
			</button>
		</div>
		<div class="modal-body">
			<img src="" alt="" class="modal-picture">
			<div class="modal-content-text">
				<h3 class="modal-title"></h3>
				<p class="modal-description"></p>
				<div class="modal-difficulty"></div>
				<div class="modal-time">
					<img src="{{ asset('images/clock_icon.svg') }}" alt="Icône d'horloge" class="time-clock">
					<span class="time-text"></span>
				</div>
				<a class="start-button button--highlighted">Lancer la partie</a>
			</div>

		</div>

	</div>
</div>
