* {
    font-family: 'Inter', sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    color: #FFFFFE;
    list-style-type: none;
    text-decoration: none;
}

body {
    background-image: linear-gradient(rgba(15,14,23,0.9), rgba(15,14,23,0.9)), url('../../images/bg_img.jpg');
    background-size: cover;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

main {
    flex: 1;
    overflow: hidden;
}

.container {
    display: flex;
    flex-direction: column;

    &.center {
        align-items: center;
    }
}

.highlighted-button {
    width: 264px;
    height: 62px;
    background-color: #FF8906;
    border-radius: 6px;
    font-weight: 600;
    font-size: 1.625rem;
    border: none;
    cursor: pointer;
    margin-top: 36px;

    &.small-btn {
        width: 148px;
        height: 52px;
        font-size: 1.25rem;
        margin-top: 0;
    }
}