.button {
    display: grid;
    place-items: center;
    width: clamp(48px, calc(9vw + 6rem), 200px);
    height: clamp(42px, calc(3vw + 1rem), 62px);
    font-weight: 600;
    font-size: $text-clamp-l;
    border: none;
    border-radius: 6px;
    padding-inline: 0.25rem;
    cursor: pointer;

    &--highlighted {
        @extend .button;
        background-color: $secondary-color;
    }

    &--white {
        @extend .button;
        background-color: $white-ivory;
        color: $black-blue;
    }

    &--red {
        @extend .button;
        background-color: $error-color;
    }

    &--small {
        max-width: 112px;
        max-height: 48px;
        font-size: $text-clamp-s;
    }
}