.reset-password h1 {
    font-size: clamp(1rem, calc(2vw + 0.5rem), 2.5rem);
    text-align: center;
}

.form-reset-password {
    margin-top: 52px;
    margin-bottom: clamp(52px, 12vw, 112px);
    width: clamp(252px, 30%, 420px);

    .reset-help {
        font-size: $text-clamp-xs;
        margin-top: 0.25rem;
        text-align: justify;
    }
}

.form-reset-change-password {
    margin-top: 52px;
    margin-bottom: clamp(52px, 12vw, 112px);
    width: clamp(252px, 30%, 420px);
}

.reset-message-container {
    margin-top: 52px;
    width: 70%;
    .reset-message {
        font-size: $text-clamp-m;
        font-weight: 300;
        margin-bottom: 0.75rem;
    }

    .reset-try-again-link {
        text-decoration: underline;
        color: $primary-color;
    }
}