.form_login {
    margin-top: 24px;
    margin-bottom: 112px;

    & .login-error {
        color: #e53f65;
        font-size: 1.1rem;
        font-weight: 500;
        height: 24px;
        margin-bottom: 16px;
    }

    & .forgot_password {
        align-self: baseline;
        font-size: 0.9rem;
        font-weight: 300;
        padding: 4px 4px 4px 0;
    }

    & .section_separator_small {
        margin-block: 24px;
    }

    & .no_account {
        font-size: 1.125rem;
        color: #BF9A7C;
        margin-bottom: 12px;
    }

    & .register_button {
        font-size: 1.625rem;
        font-weight: 700;
        border-radius: 6px;
        width: 264px;
        height: 62px;
        color: #0F0E17;
        background-color: #FFFFFE;
        display: flex;
        align-items: center;
        justify-content: center;
    }
}