.reset_password h1 {
    font-size: 2.2rem;
}

.form_reset_password {
    margin-top: 64px;
    margin-bottom: 112px;

    & .reset_help {
        font-size: 0.9rem;
        text-align: justify;
        color: rgb(227, 227, 227);
        margin-bottom: 16px;
    }
}

.form_reset_change_password {
    margin-top: 64px;
    margin-bottom: 112px;
}

.reset_message_container {
    margin-top: 72px;
    width: 70%;
    & .reset_message {
        font-size: 1.1rem;
        font-weight: 300;
        margin-bottom: 12px;
        line-height: 1.5rem;
    }

    & .reset_try_again_link {
        text-decoration: underline;
        color: #BF9A7C;
    }
}