.title-container {
    display: flex;
    justify-content: center;
    gap: 16px;
    margin-top: 80px;
    & h1{
        font-size: 3rem;
        font-weight: 800;
    }
    & img {
        position: relative;
        top: 0.3rem;
    }
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    & .form-group {
        width: 424px;
        display: flex;
        flex-direction: column;

        & label {
            font-size: 1.25rem;
            color: #BF9A7C;
            margin-bottom: 4px;
        }

        & input {
            font-size: 1.25rem;
            font-weight: 500;
            padding: 12px;
            color: #0F0E17;
            height: 52px;
            margin-bottom: 16px;
            border-radius: 4px;
            border: none;
        }
    }

    & button[type="submit"] {
        width: 264px;
        height: 62px;
        background-color: #FF8906;
        border-radius: 6px;
        font-weight: 600;
        font-size: 1.625rem;
        border: none;
        margin-top: 36px;
        cursor: pointer;
    }
}

