<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>
			{% block title %}{% endblock %}
		</title>
		<link rel="icon" type="image/png" href="{{ asset('images/favicon.png') }}">
		{% block stylesheets %}
			<link rel="stylesheet" href="{{ asset('styles/app.scss') }}">
		{% endblock %}
		{% block javascripts %}
			{% block importmap %}
				{{ importmap('app') }}
			{% endblock %}
		{% endblock %}
	</head>
	<body>
		{% include('./partials/header.html.twig') %}
		<main>
			{% block body %}{% endblock %}
		</main>
		{% include('./partials/footer.html.twig') %}
	</body>
</html>
